################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CursorRemote/CursorRemote.Library/bin/Debug/net7.0
/CursorRemote/CursorRemote.Library/obj
