################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CursorRemote/CursorRemote.Library/bin/Debug/net7.0
/CursorRemote/CursorRemote.Library/obj
CursorRemote.DemoNet/bin/Debug/CursorRemote.DemoNet.exe
CursorRemote.DemoNet/bin/Debug/CursorRemote.DemoNet.exe.config
CursorRemote.DemoNet/bin/Debug/CursorRemote.DemoNet.pdb
CursorRemote.DemoNet/bin/Debug/CursorRemote.LibraryNet.dll
CursorRemote.DemoNet/bin/Debug/CursorRemote.LibraryNet.pdb
CursorRemote.DemoNet/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.csproj.AssemblyReference.cache
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.csproj.CopyComplete
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.csproj.CoreCompileInputs.cache
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.csproj.FileListAbsolute.txt
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.csproj.SuggestedBindingRedirects.cache
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.exe
CursorRemote.DemoNet/obj/Debug/CursorRemote.DemoNet.pdb
CursorRemote.DemoNet/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CursorRemote.DemoNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CursorRemote.LibraryNet/bin/Debug/CursorRemote.LibraryNet.dll
CursorRemote.LibraryNet/bin/Debug/CursorRemote.LibraryNet.pdb
CursorRemote.LibraryNet/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CursorRemote.LibraryNet/obj/Debug/CursorRemote.LibraryNet.csproj.AssemblyReference.cache
CursorRemote.LibraryNet/obj/Debug/CursorRemote.LibraryNet.csproj.CoreCompileInputs.cache
CursorRemote.LibraryNet/obj/Debug/CursorRemote.LibraryNet.csproj.FileListAbsolute.txt
CursorRemote.LibraryNet/obj/Debug/CursorRemote.LibraryNet.dll
CursorRemote.LibraryNet/obj/Debug/CursorRemote.LibraryNet.pdb
CursorRemote.LibraryNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CursorRemote/CursorRemote.Library/obj/Debug/net7.0/refint/CursorRemote.Library.dll
CursorRemote/CursorRemote.Library/obj/Debug/net7.0/ref/CursorRemote.Library.dll
CursorRemote/CursorRemote.Library/obj/Debug/net7.0/CursorRemote.Library.csproj.CoreCompileInputs.cache
CursorRemote/CursorRemote.Library/obj/CursorRemote.Library.csproj.nuget.g.props
CursorRemote/CursorRemote.Demo/obj/project.nuget.cache
CursorRemote/CursorRemote.Demo/obj/project.assets.json
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.pdb
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.genruntimeconfig.cache
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.GeneratedMSBuildEditorConfig.editorconfig
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.dll
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.csproj.FileListAbsolute.txt
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.csproj.CoreCompileInputs.cache
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.csproj.AssemblyReference.cache
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.assets.cache
CursorRemote/CursorRemote.Demo/obj/CursorRemote.Demo.csproj.nuget.g.props
CursorRemote/CursorRemote.Demo/obj/CursorRemote.Demo.csproj.nuget.dgspec.json
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Library.pdb
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Library.dll
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.pdb
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.dll
CursorRemote/CursorRemote.Library/obj/Debug/net7.0/refint/CursorRemote.Library.dll
CursorRemote/CursorRemote.Library/obj/Debug/net7.0/ref/CursorRemote.Library.dll
CursorRemote/CursorRemote.Library/obj/Debug/net7.0/CursorRemote.Library.csproj.CoreCompileInputs.cache
CursorRemote/CursorRemote.Library/obj/CursorRemote.Library.csproj.nuget.g.props
CursorRemote/CursorRemote.Demo/obj/project.nuget.cache
CursorRemote/CursorRemote.Demo/obj/project.assets.json
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.pdb
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.genruntimeconfig.cache
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.GeneratedMSBuildEditorConfig.editorconfig
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.dll
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.csproj.FileListAbsolute.txt
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.csproj.CoreCompileInputs.cache
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.csproj.AssemblyReference.cache
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.assets.cache
CursorRemote/CursorRemote.Demo/obj/CursorRemote.Demo.csproj.nuget.g.props
CursorRemote/CursorRemote.Demo/obj/CursorRemote.Demo.csproj.nuget.dgspec.json
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Library.pdb
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Library.dll
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.pdb
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.dll
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.dll
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.pdb
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Library.dll
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Library.pdb
CursorRemote/CursorRemote.Demo/obj/CursorRemote.Demo.csproj.nuget.dgspec.json
CursorRemote/CursorRemote.Demo/obj/CursorRemote.Demo.csproj.nuget.g.props
CursorRemote/CursorRemote.Demo/obj/Debug/net7.0/CursorRemote.Demo.assets.cache
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.dll
CursorRemote/CursorRemote.Demo/bin/Debug/net7.0/CursorRemote.Demo.pdb
EcoVR/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EcoVR/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EcoVR/obj/Debug/EcoVR.csproj.AssemblyReference.cache
EcoVR/obj/Debug/EcoVR.csproj.CoreCompileInputs.cache
EcoVR/obj/Debug/EcoVR.csproj.FileListAbsolute.txt
EcoVR/obj/Debug/EcoVR.csproj.GenerateResource.cache
EcoVR/obj/Debug/EcoVR.exe
EcoVR/obj/Debug/EcoVR.pdb
